@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --bg: white;
    --textColor: rgba(100, 116, 139, 1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgba(15, 23, 42, 1);
    --textColor: white;
  }
}

body {
  background: var(--bg);
  color: var(--textColor);
}
